asgiref==3.6.0
attrs==23.1.0
automium==0.2.6
automium-web==0.1.1
blinker==1.6.2
click==8.1.6
colorama==0.4.6
crispy-bootstrap4==2022.1
distlib==0.3.8
Django==4.2
django-ckeditor==6.7.0
django-crispy-forms==2.0
django-js-asset==2.1.0
django-multiupload==0.6.1
django-resized==1.0.2
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
drf-spectacular==0.26.5
filelock==3.13.1
Flask==2.3.2
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
legacy==0.1.6
Markdown==3.4.4
MarkupSafe==2.1.3
numpy==1.24.3
pandas==2.0.2
Pillow==9.5.0
platformdirs==4.2.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
q==2.7
referencing==0.30.2
rpds-py==0.10.3
six==1.16.0
sqlparse==0.4.3
sw==0.0.1
tzdata==2023.3
uritemplate==4.1.1
virtualenv==20.25.0
Werkzeug==2.3.6
