{% extends 'base.html' %}
{%block title%}{{sw.title}}{%endblock%}
{% load static %}
{% block content %}
<!--header-->
  {% include 'header.html' %}

    <main>
     <section id="web" style="background: url('{{sw.cover_photo.url}}');" class="bg-dark">
        <h1 class="erp-title">{{sw.title}} <img class="web-icon" src="{{sw.icon.url}}" alt=""></h1>
      </section>
        <section class="container">

            <p class="mt-5" >
            {{sw.desc}}
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; max-width: 100%;"
                src="{{sw.image.url}}" alt="">

           <h1 class="section-title">{{sw.feature_title}}</h1>

            <div class="">
                <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
                    {% for feature in sw.feature_set.all %}
                    <div class="col">
                        <div class="p-3 border border-warning"><img
                                style="width: 50px; margin-left: auto; margin-right: auto; display: block;"
                                src="{{feature.icon.url}}" alt="">
                            <h3 style="text-align:center; color: rgb(24, 127, 145); margin-top: 30px;">{{feature.title}}</h3>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <img class="mt-5 mb-5 shadow"
                style="margin-right: auto; margin-left: auto; display: block; max-width: 100%;"
                src="{{sw.image_2.url}}" alt="">
        </section>

        <div class="container mt-5 mb-5">
          <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
             
              <div class="col">
                  <div class="p-3">
                      <div class="d-grid gap-6">
                     {{sw.learning_objective | safe }}
                      </div>
                  </div>
              </div>
              <div class="col">
                <div class="pt-4"><img style="max-width: 100%;" src="{{sw.image_3.url}}" alt=""></div>
            </div>
          </div>
      </div>
        <div class="container mt-5 mb-5">
            <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
                <div class="col">
                    <div class="pt-4"><img style="max-width: 100%;" src="{{sw.image_4.url}}" alt=""></div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <div class="d-grid gap-6">
                           {{sw.more | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

  <!-- ===========================================================Footer Start================================= -->


{% include 'footer.html' %}

  <!-- =========================================== footer end================================= -->

{% endblock %}