{% extends 'base.html' %}
{%block title%}{{dv.title}}{%endblock%}
{% load static %}
{% block content %}
<!--header-->
{% include 'header.html' %}

<main>
    <section id="web"
             style="background: rgba(0, 0, 0, 0.822) url('{{dv.cover_photo.url}}'); background-repeat: no-repeat;background-size: cover; background-position: center center; background-attachment: fixed; max-width: 100%; height: 60vh;background-blend-mode: darken;">
        <h1 class="erp-title">{{dv.title}} <img class="web-icon" src="{{dv.icon.url}}" alt=""></h1>
    </section>
    <section class="container">

        <p class="mt-5">
            {{dv.desc}}
        </p>
        {% if dv.image %}
        <img style="margin-right: auto; margin-left: auto; display: block; max-width: 100%;"
             src="{{dv.image.url}}" alt="">
        {% endif %}
        {%if dv.feature_title%}
        <h1 class="section-title">{{dv.feature_title}}</h1>
         {% endif %}
        <div class="">
            <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
                {% for feature in features %}
                <div class="col">
                    <div class="p-3 border border-warning"><img
                            style="width: 50px; margin-left: auto; margin-right: auto; display: block;"
                            src="{{feature.icon.url}}" alt="">
                        <h3 style="text-align:center; color: rgb(24, 127, 145); margin-top: 30px;">
                            {{feature.title}}</h3>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% if dv.image_2 %}
        <img class="mt-5 mb-5 shadow"
             style="margin-right: auto; margin-left: auto; display: block; max-width: 100%;"
             src="{{dv.image_2.url}}" alt="">
        {% endif %}
    </section>

    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">

            <div class="col">
                <div class="p-3">
                    <div class="d-grid gap-6">
                        {{dv.learning_objective | safe }}
                    </div>
                </div>
            </div>
            {% if dv.image_3%}
            <div class="col">
                <div class="pt-4"><img style="max-width: 100%;" src="{{dv.image_3.url}}" alt=""></div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
            {% if dv.image_4 %}
            <div class="col">
                <div class="pt-4"><img style="max-width: 100%;" src="{{dv.image_4.url}}" alt=""></div>
            </div>
            {% endif %}
            <div class="col">
                <div class="p-3">
                    <div class="d-grid gap-6">
                        {{dv.more | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- ===========================================================Footer Start================================= -->


{% include 'footer.html' %}

<!-- =========================================== footer end================================= -->

{% endblock %}