{% load static %}
<section class="mt-4" style="background-color: rgb(15,26,67); border-radius: 20px; padding-bottom: 20px;">
    <h2
      style="text-align: center; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important; padding-top: 30px; padding-bottom: 30px;">
      {{webinfo.footer_section_title}}</h2>
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
        <div class="col">
          <div class="">
            <img src="images/os logolatest.png" alt="">
            <p class="mt-3 text-white">Hotline :</p>
            <p class="mt-3 text-white"><img src="{% static 'icons/telephone.svg' %}" alt=""
                style="width: 30px; margin-right: 20px;">{{webinfo.phone}}</p>
            <p class="text-white"><img src="{% static 'icons/gmail.svg' %}" alt=""
                style="width: 30px; margin-right: 20px;">{{webinfo.email}}</p>
          </div>
        </div>
        <div class="col">
          <div class="p-3">

            <p>
              <a class="footer-link" href="{% url 'about-us'%}">About Us</a> <br>
              <a class="footer-link" href="{% url 'why-us' %}">Why Us</a> <br>
              <a class="footer-link" href="{% url 'team'%}">Our Team</a> <br>
              {% for device in deviceService %}
              {% if forloop.first %}
              <a class="footer-link" href="{% url 'deviceService' dv_id=device.id %}">{{device.title}}</a> <br>
              {% endif %}
              {% endfor %}
              <a class="footer-link" href="{% url 'newsroom'%}">News Room</a> <br>
              <a class="footer-link" href="{% url 'contact-us'%}">Contact US</a>
            </p>
            <p>
              {% for sm in social %}
              <a target="_blank" href="https://{{sm.link}}"><img
                  src="{{sm.icon.url}}" alt="" class="footer-social-icons"></a>
              {% endfor %}

            </p>
          </div>
        </div>
      <div class="col">
        <div style="margin-left: 125px;">
          <div class="row"  >
            <h2 style="color: white;">Member of:</h2>
           </div>
             {% for m in membership %}
             <div class="row">
               <img src="{{m.logo.url}}" alt="" style="height: 100px; width: 200px;">
             </div>
             {% endfor %}
        </div>
      </div>
      </div>
    </div>
   
  </section>

  <footer style=" margin-top: 3px; background-color: rgb(15,26,67); border-radius: 20px;">
    <section class="container ">
      <h3
        style="text-align: center; color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important; padding-top: 30px; padding-bottom: 30px;">
        {{webinfo.office_section_title}}</h3>
      <div class="row">
        <div class="row row-cols-2 row-cols-lg-3 g-1 g-lg-2">
          {% for o in offices %}
          <div class="col">
            <div class="p-3 border rounded" style="height: 300px; color: white;">
              <img style="height: 50px; margin-top: 10px; margin-right: 10px;" src="{{o.flag.url}}"
                alt="">
              <h4 style="display: inline-block; color: white">{{o.country_base_office}}</h4>
              <p class="" style="padding-top: 20px;">
              {{o.detail | safe}}
              </p>
            </div>
          </div>
          {% endfor %}
          {% for o in offices %}
          {% if forloop.first %}
          <div class="col">
            <div class="p-3 border rounded" style="height: 300px; color: white;">
              <h5 class="text-white">{{o.country_base_office}} Location</h5>
              <iframe
                src="https://{{o.google_map_link}}"
                width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          
        </div>
        <p style="color: white; padding: 30px; text-align: center;">Copyright and Developed © {{webinfo.developed_year}} {{webinfo.site_name}}
        </p>
      </div>
    </section>
  </footer>
