{% extends 'base.html' %}
{%block title%}{{webinfo.news_page_title}}{%endblock%}
{% load static %}
{% block content %}
<!--header-->
{% include 'header.html' %}

<main>
    <section id="news">
        <h1 class="erp-title">{{webinfo.news_page_title}}</h1>
    </section>
    <section class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for nr in newsRooms %}
            <div class="col" style="height: 550px;">
                <div class="card h-100">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{nr.image.url}}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{nr.image_2.url}}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{nr.image_3.url}}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                        <p style="text-align: justify;">{{nr.desc}}</p>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </section>
</main>

<!-- ===========================================================Footer Start================================= -->


{% include 'footer.html' %}

<!-- =========================================== footer end================================= -->

{% endblock %}
